{% extends 'base.html.twig' %}

{% block title %}Edit Interview
{% endblock %}

{% block body %}
	<div class="itw_edit mt-4">
		<h2>Edit an Interview</h2>

		{{ include('interview/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="btn btn-primary mt-4" href="{{ path('app_interview_index') }}" role="button">Back to my interviews</a>

		{{ include('interview/_delete_form.html.twig') }}
	</div>
{% endblock %}
