{% extends 'base.html.twig' %}

{% block title %}New Interview
{% endblock %}

{% block body %}
	<div class="itw_new mt-4">
		<h2>Create a new Interview</h2>
		<a class="btn btn-primary mt-3 mb-4" href="{{ path('interview_index') }}" role="button">Back to my interviews</a>

		{{ include('interview/_form.html.twig') }}

	</div>
{% endblock %}
